<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	 http://www.springframework.org/schema/beans/spring-beans.xsd">

<bean id="triangle" class="org.abdullah.javabrain8.Triangle" autowire="byName">
   
</bean>

<bean id="pointA" class="org.abdullah.javabrain8.Point">
	<property name="x" value="${pointA.pointX}"/>
	<property name="y" value="${pointA.pointY}"/>
</bean>


<bean id="pointB" class="org.abdullah.javabrain8.Point">
	<property name="x" value="-20"/>
	<property name="y" value="0"/>
</bean>

<bean id="pointC" class="org.abdullah.javabrain8.Point">
	<property name="x" value="20"/>
	<property name="y" value="0"/>
</bean>
<!-- <bean class="org.abdullah.javabrain8.DisplayNameBeanPostProcessor"/> -->   
<!-- <bean class="org.abdullah.javabrain8.MyBeanFactoryPP"/> -->
<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
 <property name="locations" value="pointconfig.properties"/>
</bean>
</beans>
